doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css")
        title Document
    body 
        header
            div
                img(src="image/logo.png", alt="logo")
            div.menu-btn__wrapper
                span.text Menu
                .menu-btn 
        main
            section#hero
                h1.hero-text 
                    | We make 
                    span.inner-text web  
                    |  better.
                h2.logo-text luna
                .godown-btn__wrapper 
                    

        script(src="js/bundle.js")
        script(src="https://kit.fontawesome.com/00dde58123.js" crossorigin="anonymous")