// Color
$yellow: #e8bf5d;
$yellow-svg: invert(86%) sepia(15%) saturate(1642%) hue-rotate(342deg)
  brightness(97%) contrast(87%);
$black: #000;
$white: #fff;
$grey: #666;

// Font style
$open-sans: "Open Sans", sans-serif;
$playfair-display: "Playfair Display", serif;
