@use "variables";

@mixin main {
  width: 100%;
  display: flex;
}

@mixin section {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}

// Responsive breakpoint
// Tablet breakpoint
@mixin tablet-breakpoint {
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    @content;
  }
}

// Mobile (Horizontal) breakpoint
@mixin mobile-horizontal-breakpoint {
  @media screen and (min-width: 481px) and (max-width: 768px) {
    @content;
  }
}

// Mobile breakpoint
@mixin mobile-breakpoint {
  @media screen and (max-width: 480px) {
    @content;
  }
}

// Go down button
@mixin go-down-button {
}
