@use "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: variables.$bg-color;
  position: relative;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.container {
  padding: 0 10%;
}

section {
  width: 100%;
}
