@use "variable.scss";
@use "reset.scss";
@use "mixin.scss";
@use "animation.scss";

.container {
  padding: 0 10%;

  @include mixin.devices(tablet-horizontal) {
    padding: 0 60px;
  }

  @include mixin.devices(mobile-horizontal) {
    padding: 0 50px;
  }

  @include mixin.devices(mobile-vertical) {
    padding: 0 40px;
  }
}

header {
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: variable.$white;
  z-index: 500;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: inherit;

    .logo {
      text-transform: uppercase;
      font-size: 33.33px;
      font-weight: bold;
      font-family: variable.$playfair-display;

      .dot {
        color: variable.$yellow;
      }
    }

    .nav-list {
      display: flex;
      gap: 25px;

      .link {
        text-transform: uppercase;
        font-size: 14px;
      }
    }

    .hamburger-btn {
      display: none;
    }

    @include mixin.devices(tablet-horizontal) {
      .nav-list {
        display: none;
      }

      .hamburger-btn {
        display: flex;
        align-items: center;
        width: 30px;
        height: 30px;
        position: relative;
        cursor: pointer;

        .hamburger-btn__left {
          @include mixin.button(15px, 5px);

          &::before {
            @include mixin.button(15px, 5px, -10px);
          }

          &::after {
            @include mixin.button(15px, 5px, 10px);
          }
        }

        .hamburger-btn__right {
          @include mixin.button(15px, 5px, null, 0);

          &::before {
            @include mixin.button(15px, 5px, -10px, null);
          }

          &::after {
            @include mixin.button(15px, 5px, 10px, null);
          }
        }

        &.open {
          .hamburger-btn__left {
            @include mixin.button-clicked;

            &::before {
              @include mixin.button-clicked-partial(45, 1.4, 2, 2);
            }

            &::after {
              @include mixin.button-clicked-partial(-45, 1.4, 2, -2);
            }
          }

          .hamburger-btn__right {
            @include mixin.button-clicked;

            &::before {
              @include mixin.button-clicked-partial(-45, 1.4, -2, 2);
            }

            &::after {
              @include mixin.button-clicked-partial(45, 1.4, -2, -2);
            }
          }
        }
      }
    }

    @include mixin.devices(mobile-horizontal) {
      .logo {
        font-size: 23.33px;
      }

      .nav-list {
        display: none;
      }

      .hamburger-btn {
        display: flex;
        align-items: center;
        width: 30px;
        height: 30px;
        position: relative;
        cursor: pointer;

        .hamburger-btn__left {
          @include mixin.button(15px, 5px);

          &::before {
            @include mixin.button(15px, 5px, -10px);
          }

          &::after {
            @include mixin.button(15px, 5px, 10px);
          }
        }

        .hamburger-btn__right {
          @include mixin.button(15px, 5px, null, 0);

          &::before {
            @include mixin.button(15px, 5px, -10px, null);
          }

          &::after {
            @include mixin.button(15px, 5px, 10px, null);
          }
        }

        &.open {
          .hamburger-btn__left {
            @include mixin.button-clicked;

            &::before {
              @include mixin.button-clicked-partial(45, 1.4, 2, 2);
            }

            &::after {
              @include mixin.button-clicked-partial(-45, 1.4, 2, -2);
            }
          }

          .hamburger-btn__right {
            @include mixin.button-clicked;

            &::before {
              @include mixin.button-clicked-partial(-45, 1.4, -2, 2);
            }

            &::after {
              @include mixin.button-clicked-partial(45, 1.4, -2, -2);
            }
          }
        }
      }
    }

    @include mixin.devices(mobile-vertical) {
      .logo {
        font-size: 19.33px;
      }

      .nav-list {
        display: none;
      }

      .hamburger-btn {
        display: flex;
        align-items: center;
        width: 30px;
        height: 30px;
        position: relative;
        cursor: pointer;

        .hamburger-btn__left {
          @include mixin.button(15px, 5px);

          &::before {
            @include mixin.button(15px, 5px, -10px);
          }

          &::after {
            @include mixin.button(15px, 5px, 10px);
          }
        }

        .hamburger-btn__right {
          @include mixin.button(15px, 5px, null, 0);

          &::before {
            @include mixin.button(15px, 5px, -10px, null);
          }

          &::after {
            @include mixin.button(15px, 5px, 10px, null);
          }
        }

        &.open {
          .hamburger-btn__left {
            @include mixin.button-clicked;

            &::before {
              @include mixin.button-clicked-partial(45, 1.4, 2, 2);
            }

            &::after {
              @include mixin.button-clicked-partial(-45, 1.4, 2, -2);
            }
          }

          .hamburger-btn__right {
            @include mixin.button-clicked;

            &::before {
              @include mixin.button-clicked-partial(-45, 1.4, -2, 2);
            }

            &::after {
              @include mixin.button-clicked-partial(45, 1.4, -2, -2);
            }
          }
        }
      }
    }
  }
}

main {
  #hero {
    width: 100%;
    height: 100vh;
    background: url(../image/bg-lawyer.jpg) no-repeat;
    background-size: cover;
    position: relative;

    .hero__wrapper {
      position: absolute;
      max-width: 1000px;
      width: 100%;
      bottom: 15%;
      left: 50%;
      transform: translate(-50%, -15%);
      display: flex;
      align-items: center;
      justify-content: space-between;

      .name {
        color: variable.$white;

        h1 {
          font-size: 65px;
          font-family: variable.$playfair-display;
        }

        h2 {
          font-size: 31px;
        }
      }

      .contact-btn {
        width: 180px;
        height: 50px;
        border-radius: 25px;
        background-color: variable.$yellow;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-family: variable.$playfair-display;
        letter-spacing: 1px;
      }
    }

    @include mixin.devices(tablet-horizontal) {
      background-size: cover;
      background-position: center;

      .hero__wrapper {
        width: 100%;
        max-width: 600px;
        position: absolute;
        left: 50%;
        bottom: 10%;

        .name {
          h1 {
            font-size: 50px;
          }

          h2 {
            font-size: 25px;
          }
        }
      }
    }

    @include mixin.devices(mobile-horizontal) {
      background-size: cover;
      background-position: center;

      .hero__wrapper {
        width: 100%;
        max-width: 350px;
        position: absolute;
        left: 50%;
        bottom: 10%;

        .name {
          h1 {
            font-size: 25px;
          }

          h2 {
            font-size: 15px;
          }
        }

        .contact-btn {
          width: 100px;
          font-size: 12.5px;
        }
      }
    }
  }

  #about {
    @include mixin.layout;
    @include mixin.section-title;

    .info__wrapper {
      max-width: 1200px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 50px;

      .paragraph {
        max-width: 50%;

        .p-title {
          font-size: 21px;
          font-family: variable.$playfair-display;
          margin-bottom: 40px;
        }

        .timeline {
          display: flex;
          align-items: center;
          margin-bottom: 30px;

          &:nth-of-type(3) {
            margin-bottom: 0;
          }

          .year {
            margin-right: 5%;
            font-size: 21px;
            font-weight: bold;
          }

          .frontline {
            max-width: 500px;
            line-height: 1.25;
            color: variable.$grey;
          }
        }
      }
      .expertise {
        .expertise-exp {
          line-height: 1.5;
          color: variable.$grey;
        }
      }
    }

    @include mixin.devices(tablet-horizontal) {
      .info__wrapper {
        flex-direction: column;
        width: 100%;

        .paragraph {
          max-width: inherit;
        }
      }
    }

    @include mixin.devices(mobile-horizontal) {
      .info__wrapper {
        flex-direction: column;
        width: 100%;

        .paragraph {
          max-width: inherit;
        }
      }
    }

    @include mixin.devices(mobile-vertical) {
      .info__wrapper {
        flex-direction: column;
        width: 100%;

        .paragraph {
          max-width: inherit;

          .expertise-exp {
            text-align: center;
          }
        }
      }
    }
  }

  #practice {
    @include mixin.layout-dark;
    @include mixin.section-title-dark;

    .info__grid {
      display: grid;
      color: variable.$white;
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;

      .grid-item {
        display: flex;
        max-width: 500px;

        img {
          width: 30px;
          height: 30px;
          filter: variable.$yellow-svg;
        }
      }

      .grid-item__wrapper {
        margin-left: 30px;

        h2 {
          font-family: variable.$playfair-display;
          text-transform: uppercase;
          margin-bottom: 25px;
          font-size: 21px;
        }

        p {
          font-size: 14px;
          line-height: 2;
        }
      }
    }

    @include mixin.devices(mobile-horizontal) {
      .info__grid {
        grid-template-columns: 1fr;
      }
    }

    @include mixin.devices(mobile-vertical) {
      .info__grid {
        grid-template-columns: 1fr;
      }
    }
  }

  #attorney {
    @include mixin.layout;
    @include mixin.section-title;

    .attorney__wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 50px;

      .grid-item {
        .bio {
          display: flex;
          flex-direction: column;
          margin-top: 30px;

          .attorney-name {
            font-size: 21px;
            font-family: variable.$playfair-display;
            margin-bottom: 15px;
          }

          .attorney-position {
            font-size: 14px;
            color: variable.$grey;
          }
        }
      }
    }

    @media screen and (max-width: 1250px) {
      .attorney__wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
      }
    }

    @media screen and (max-width: 610px) {
      .attorney__wrapper {
        grid-template-columns: 1fr;
      }
    }
  }

  #client {
    @include mixin.layout-dark;
    @include mixin.section-title-dark;

    .client__wrapper {
      max-width: 1200px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      z-index: 20;

      .client-portrait {
        position: relative;
        z-index: 10;

        &::after {
          content: "";
          position: absolute;
          top: 25px;
          left: 25px;
          width: 370px;
          height: 305px;
          background-color: variable.$yellow;
          z-index: 9;
        }
      }

      .client-exp {
        max-width: 600px;
        color: variable.$white;
        position: relative;

        img {
          width: 30px;
          height: 30px;
          filter: variable.$grey-svg;
          position: absolute;
          top: 0;
          left: -40px;
        }

        p {
          font-size: 14px;
          line-height: 2.5;
        }
      }
    }
  }

  #publications {
    @include mixin.layout;
    @include mixin.section-title;
  }
}
