@use "variables";
@use "reset";
@use "header";

#hero {
  .wrapper {
    margin-top: 300px;

    .main-text {
      font-size: 60px;
      font-weight: bold;
      letter-spacing: 1.5px;
      line-height: 1.25;
      margin-bottom: 40px;

      span {
        display: block;

        &:nth-of-type(3) {
          color: variables.$signature-color;
        }
      }
    }

    .sub-text {
      color: variables.$gray;
      margin-bottom: 100px;

      span {
        display: block;
      }
    }

    .view-btn {
      width: fit-content;
      padding: 15px 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      background-color: #000;
      font-weight: 300;

      i {
        margin-left: 30px;
      }
    }
  }
}
